:root {
    font-family: Roboto,  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
  }

h1, h2, h3, fieldset, #bucket-contents {
    margin-left: 10px;
}

fieldset {
    
    display: grid;
    margin-bottom: 0px;
    padding: 0px;
    border: none;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(11, 25px);
    grid-auto-flow: column;
    width: 500px;
    grid-gap: 3px;

}


h2 { 
    margin-top: 0px;
}

h3 {
    margin-top: 50px;
    margin-bottom: 0px;
}

.controls {
    margin-top: 15px;
    
    display: flex;
    width: 466px;
    height: 25px;
    gap: 3px;
}

#remove {
    margin-left: auto;
}

#bucket-contents {
    margin-top: 10px;
    background-color: lightgray;
    border: 1px solid black;
    width: 500px;
    height: 300px;
    overflow: auto;
    font-size: small;
}

