/* Global Styles */
:root {
    --font-primary: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-secondary: 'Baskervville';
    --color-white: #ffffff;
    --color-black: rgba(0, 0, 0, 0.1);
    --color-dark-shadow: rgba(0, 0, 0, 0.2);
    --color-light-blue: #37AEE2;
    --color-dark-blue: #1a80ac;
    --color-green: #11ca01;
    --color-dark-green: #0ea300;
    --color-gold: #FFD700;
    --color-dark-gold: #d5b500;
    --color-purple: #a400da;
    --color-dark-purple: #710096;
    --color-red: #e01c1c;
    --color-dark-red: #9f0c0c;
    --color-grey-light: #c0c0c0;
    --color-grey-dark: #8c8c8c;
    --color-light-grey: #f0f0f0;
}

/* Font Faces */
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Baskervville';
    src: url('./fonts/BaskervvilleSC-Regular.ttf');
}

/* Base Styles */
body {
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-weight: 300;
    font-family: var(--font-secondary);
    font-size: 48px;
    margin-right: 10px;
    margin-left: 90px;
    
}

h2 {
    margin: 5px 0;
}

h3 {
    margin: 0;
}

.logo {
    
    width: 50px;
    height: 50px;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    box-shadow: 0 0 10px var(--color-dark-shadow);
    height: 100px;
}

/* Background and Overlay */
.background {
    background-image: url("./assets/ffxi-banner.png");
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: var(--color-white);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

/* Grid Wrapper */
.grid-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px var(--color-dark-shadow);
    border-radius: 1rem;
    height: 650px;
    width: 500px;
}

/* Fieldset */
fieldset {
    display: grid;
    width: auto;
    height: 550px;
    margin: 0;
    padding: 0;
    border: none;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(11, 25px);
    grid-auto-flow: column;
    row-gap: 18px;
}

/* Buttons and Items */
.item, #remove, #empty {
    border-radius: .25rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.75rem;
    text-decoration: none;
    width: 98%;
    height: 2.5rem;
    border: 0;
    cursor: pointer;
    user-select: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.item:hover, #remove:hover, #empty:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

/* Specific Item Styles */
.trash {
    background-image: linear-gradient(-180deg, var(--color-grey-light) 0%, var(--color-grey-dark) 100%);
}

.trash:hover {
    background-image: linear-gradient(-180deg, #9e9e9e 0%, #727171 100%);
}

.slightly-trash {
    background-image: linear-gradient(-180deg, var(--color-light-blue) 0%, var(--color-dark-blue) 100%);
}

.slightly-trash:hover {
    background-image: linear-gradient(-180deg, #1983b0 0%, #146487 100%);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.money {
    background-image: linear-gradient(-180deg, var(--color-green) 0%, var(--color-dark-green) 100%);
}

.money:hover {
    background-image: linear-gradient(-180deg, #10b401 0%, #0c8701 100%);
}

.good-money {
    background-image: linear-gradient(-180deg, var(--color-gold) 0%, var(--color-dark-gold) 100%);
}

.good-money:hover {
    background-image: linear-gradient(-180deg, #dab900 0%, #a99001 100%);
}

.rich {
    background-image: linear-gradient(-180deg, var(--color-purple) 0%, var(--color-dark-purple) 100%);
}

.rich:hover {
    background-image: linear-gradient(-180deg, #670089 0%, #580175 100%);
}

.oxblood {
    background-image: linear-gradient(-180deg, var(--color-red) 0%, var(--color-dark-red) 100%);
}

.oxblood:hover {
    background-image: linear-gradient(-180deg, #b11616 0%, #9d0c0c 100%);
}

/* Controls and Containers */
.controls {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 10px;
}

#remove {
    width: 147px;
    height: 40px;
    
}

#empty {
    width: 147px;
    height: 40px;
}

#timer {
    margin-top: 25px;
}
#bucket-img {
    background-image: url("./assets/bucket.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 500px;
}

#bucket-contents {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    width: 200px;
    height: 275px;
    top: 375px;
    overflow: auto;
    font-size: small;
}

.bucket-item {
    text-align: center;
    border-radius: 0.25rem;
    margin-bottom: 2px;
    background-color: var(--color-green);
}

main {
    display: flex;
    justify-content: space-around;
    margin: 100px 10vw 0;
}

.status {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 400px;
    box-shadow: 0 0 10px var(--color-dark-shadow);
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
}

#value {
    color: red;
}

.value-container, .weight-container {
    margin-top: 75px;
}

#bucket-weight, #value {
    font-size: 36px;
}

.right-side {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px var(--color-dark-shadow);
    border-radius: 1rem;
    flex-direction: column;
}
